.parent {
  display: grid;
  background-color: #eee;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 50px;
}

.child {
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Neue Hans Kendrick Regular';
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
