.parent {
  display: flex;
  background-color: #eee;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-column-gap: 50px; */
  /* grid-row-gap: 50px; */
  height: 100vh;
  width: 100vw;
  /* padding: 50px; */
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 15px; */
  font-family: 'Neue Hans Kendrick Regular';
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
