.container {
  display: flex;
  background-color: #eee;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-column-gap: 50px; */
  /* grid-row-gap: 50px; */
  height: 100vh;
  width: 100vw;
  /* padding: 50px; */
}

.div__color {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border-radius: 15px; */
  font-family: 'Neue Hans Kendrick Regular';
}

.hidden {
  display: none;
}

.button__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
