body {
  overflow: hidden;
}

.image-overlay {
  /* top: 0px; */
  /* left: 0px; */
  width: 100vw;
  height: 100vh;
  /* opacity: 0.2; */
  background-image: linear-gradient(rgba(40, 30, 73, 1), rgb(18, 0, 77));
}

.text-box {
  font-family: 'Neue Hans Kendrick';
  position: absolute;
  display: inline-block;
  border-radius: 15px;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.text-largest {
  font-size: 72px;
}
.text-large {
  font-size: 36px;
}
.text-medium {
  font-size: 24px;
}
.text-small {
  font-size: 18px;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.box-purple {
  background-color: #634a97;
}

.box-teal {
  background-color: #57ceca;
}
