body {
  overflow: hidden;
  cursor: none;
}

.image-overlay {
  /* top: 0px; */
  /* left: 0px; */
  width: 100vw;
  height: 100vh;
  /* opacity: 0.2; */
  background-image: linear-gradient(rgba(40, 30, 73, 1), rgb(18, 0, 77));
}

.text-box {
  position: absolute;
  display: inline-block;
  border-radius: 15px;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  z-index: 10;
}

.text-semiBold {
  font-family: 'Neue Hans Kendrick SemiBold';
}

.text-regular {
  font-family: 'Neue Hans Kendrick Regular';
}

.text-largest {
  font-size: 5.625rem;
  font-size: clamp(2.5rem, 4rem, 5.625rem);
  line-height: 5.625rem;
}
.text-large {
  font-size: 3rem;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 3rem;
}
.text-medium {
  font-size: 2.25rem;
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 2.25rem;
}
.text-small {
  /* font-size: 24px; */
  font-size: 1.5rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 1.5rem;
}

.box-purple {
  background-color: #634a97;
}

.box-teal {
  background-color: #57ceca;
}

/* Info elements on page locations */

.container {
  padding-left: 78px;
}

.location-box-landscape {
  top: 667px;
}

.times-box-landscape {
  top: 745px;
}

.eventInfo-box-landscape {
  z-index: 10;
  top: 823px;
  margin-right: 334px;
}

.logo-box-landscape {
  top: 885px;
  right: 78px;
  padding-bottom: 195px;
}

.location-box-portrait {
  top: 1465px;
}

.times-box-portrait {
  top: 1543px;
}

.eventInfo-box-portrait {
  top: 1621px;
  margin-right: 78px;
}

.logo-box-portrait {
  right: 78px;
  bottom: 1725px;
  padding-top: 195px;
}
