body {
  overflow: hidden;
}

.image-overlay {
  /* top: 0px; */
  /* left: 0px; */
  width: 100vw;
  height: 100vh;
  /* opacity: 0.2; */
  background-image: linear-gradient(rgba(40, 30, 73, 1), rgb(18, 0, 77));
}

.text-box {
  position: absolute;
  display: inline-block;
  border-radius: 15px;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
}

.text-semiBold {
  font-family: 'Neue Hans Kendrick SemiBold';
}

.text-regular {
  font-family: 'Neue Hans Kendrick Regular';
}

.text-largest {
  /* font-size: 90px; */
  font-size: 5.625rem;
  font-size: clamp(2.5rem, 4rem, 5.625rem);
}
.text-large {
  /* font-size: 48px; */
  font-size: 3rem;
  font-size: clamp(2rem, 5vw, 3rem);
}
.text-medium {
  /* font-size: 36px; */
  font-size: 2.25rem;
  font-size: clamp(1.5rem, 5vw, 2.25rem);
}
.text-small {
  /* font-size: 24px; */
  font-size: 1.5rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.box-purple {
  background-color: #634a97;
}

.box-teal {
  background-color: #57ceca;
}
